{%extends 'base.htm' %}
{% load static %}
{%block title %} About {% endblock title %}
{% block aboutactive %} active
            {% endblock aboutactive %}
{%block body %} 
 <div class="hero-image">
    <div class="hero-text">
        <h1>I'm Murad Durjoy</h1>
        <p>I am a Django developer, can develop frontend and backend also with clinets satisfaction. You may contact with me.</p>
        <a href="/contact"><button class="btn btn-info">Hire me</button></a>
        <a href="/blog"><button class="btn btn-warning">Read me</button></a>
    </div>
</div>
 {% endblock body %}